<style>
    .section-nav {
        color: aquamarine;
        background-color: transparent;

        top: 0px;
    }

    .post-toc {
        margin: 0 auto;
    }

    .section-nav a {
        color: darkturquoise;
    }

    .section-nav a:hover {
        color: red;
    }

    #toc-collapse-icon {
        display: none;
    }

    @media only screen and (min-width: 1664px) {
        .post-toc {
            position: absolute;
            display: block;
            width: calc(50% - 31rem);
            right: 0;
            z-index: 10;
            border-left: 1px solid lightgrey;
            padding: 2.5rem;
            transition: none !important;
            top: 0;
            overflow-y: auto;
            bottom: -7.5em;

        }


        .section-nav {
            width: 100%;

        }

        #toc-collapse-icon {
            display: block;
            float: right;
            color: black;
        }

        #toc-collapse-icon:hover {
            color: skyblue;
        }
    }
</style>

{% assign toc_is_not_empty = page.toc | is_not_empty %}
{% if toc_is_not_empty %}

<div id="toc-container" class="post-toc width-limited">
    <i id="toc-collapse-icon" onclick="collapse_toc()" class="fab fa-bars" aria-hidden="true"></i>
    <div id="toc-inner">
        <p style="color:gray;width:auto;">TABLE OF CONTENT</p>
        {{ content | toc_only }}
    </div>
</div>
{% endif %}


<script>
    if (window.outerWidth >= 1664) {
        window.onscroll = function () { stickToc() };
        var position = $("#toc-container").position();
        var toc = document.getElementById("toc-container");
        var sticky_top = position.top;
        var sticky_bottom = toc.clientHeight + sticky_top;
        console.log(window.innerHeight);
        toc.style.maxHeight = (window.innerHeight) + 'px';
        function stickToc() {
            if (window.pageYOffset >= sticky_top) {
                toc.style.top = window.pageYOffset - 90 + 'px';
            }
            else {
                toc.style.top = '0px';

            }
        }
    }

    function collapse_toc() {
        console.log("here");
        var toc = document.getElementById("toc-inner");
        var toc_container = document.getElementById("toc-container");
        if (toc.style.display != "none") {
            toc.style.display = "none";
            toc_container.style["border-left"] = "0"
        }
        else {
            toc.style.display = "block";
            toc_container.style["border-left"] = "1px solid lightgrey"
        }
    }
</script>