/**
 * Structure
 */
.outer {
  padding-left: 3vw;
  padding-right: 3vw;
}

.inner {
  margin-left: auto;
  margin-right: auto;
  max-width: 1140px;
}

.inner-sm {
  margin-left: auto;
  margin-right: auto;
  // max-width: 750px;
}
.width-limited{
  max-width: 54em;
}
.site {
  min-height: 100vh;
  overflow: hidden;
  position: relative;
}

.site-content {
  padding-top: 5em;
  margin-bottom: 5em;
}
.color_charcoal-light-40{
  color: _palette(charcoal-light-40);
}

@media only screen and (max-width: 600px) {
  .site-content {
    padding-bottom: 3.33333em;
    padding-top: 3.33333em;
  }
}
@media only screen and (min-width: 54em) {
  .width-limited{
    max-width: 48em;
  }
}


@media only screen and (min-width: 42em) {
  .width-limited{
    max-width: 42em;
  }
}
@media only screen and (min-width: 86em) {
    .width-limited{
      max-width: 54em;
    }
}




